.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page_one {
  background-color: gray;
  height: 600px;
  width: 1120px;
}
  .header {
    background-color: #61dafb;
    height: 120px;
    width: 1120px;
  }
  .body {
    background-color: cornflowerblue;
    height: 480px;
    width: 1120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .x_y_z_container {
      /* background-color: coral; */
      height: 400px;
      width: 1040px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
      .z_x {
        /* background-color: crimson; */
        height: 400px;
        width: 760px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
        .z {
          /* background-color: slateblue; */
          height: 240px;
          width: 760px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
          .z_a {
            background-color: aqua;
            height: 240px;
            width: 160px;
          }
          .z_b {
            background-color: aqua;
            height: 240px;
            width: 160px;
          }
          .z_c {
            background-color: aqua;
            height: 240px;
            width: 160px;
          }
          .z_d {
            background-color: aqua;
            height: 240px;
            width: 160px;
          }
        .x {
          background-color: aqua;
          height: 120px;
          width: 760px;
        }
      .y {
        background-color: aqua;
        height: 400px;
        width: 240px;
      }